<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white">
        张朔凌晨三点玩愤怒的小鸟
    </div>
    <div style="position: absolute;top: 48px;bottom: 0;left: 0;width: 200px;background-color: brown;">
        <a class="menu" href="/cmdb/userinfo/">用户管理</a>
        <a class="menu" href="/cmdb/usergroup/">用户组管理</a>
    </div>
    <div style="position: absolute;top: 48px;bottom: 0;left: 200px;right: 0;overflow: auto">
        <h3>用户详细信息</h3>
        <h5>{{obj.id}}</h5>
        <h5>{{obj.username}}</h5>
        <h5>{{obj.password}}</h5>
        </ul>
    </div>

</body>
</html>